@import "./vendors/variables";
@import "./vendors/mixins";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    color: $low-gray;
    font-family: $main-font;
    @include flexCenter;

    .background {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        filter: brightness(40%);
        object-fit: cover;
    }
}